.App_container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.App_sectionHeader {
  margin-bottom: var(--space-12);
  padding-left: var(--space-16);
  padding-right: var(--space-16);
  padding-top: var(--space-12);
  padding-bottom: var(--space-12);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom-width: 3px;
}

.App_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--space8);
  background-color: --var(--color-theme-light-grey);
  overflow: hidden;
}

.App_header {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
}

.light .App_row {
  background-color: var(--color-theme-grey);
}

.dark .App_row {
  background-color: rgba(255, 255, 255, 0.2);
}

.App_activityIndicator {
  position: absolute;
  right: 20px;
  top: 15px;
}

.primary.App_sectionHeader {
  border-bottom-color: var(--color-react-light-blue);
}
.secondary.App_sectionHeader {
  border-bottom-color: var(--color-light-green);
}

.App_list {
  padding-bottom: 176px;
  height: 100%;
  display: linear;
  linear-direction: column;
}
.light .App_list {
  background-color: var(--color-white);
}
.dark .App_list {
  background-color: var(--color-darkest-blue);
}